:root {
  --primary-bg: rgb(31, 32, 40);
  --content-bg: rgb(31, 32, 40);
  --header-bg: rgb(1, 22, 39);
  --box-bg: rgb(46, 48, 57);
  --font-color: white;
  --link: #36a3ff;
  --link-hov: #56c3ff;

  --max-width: 1000px;
  --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
  --card-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --card-item-shadow: var(--header-bg) 0px 0px 4px 2px,
    var(--color) 0px 0px 2px 2px;
  --item-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.purple-theme {
  --primary-bg: rgb(68, 60, 104);
  --header-bg: rgb(24, 18, 43);
  --box-bg: rgb(99, 89, 133);
  --content-bg: rgb(68, 60, 104);
  --font-color: rgb(235, 235, 235);
  --link: #36a3ff;
  --link-hov: #56c3ff;
}

.black-theme {
  --primary-bg: rgb(31, 32, 40);
  --content-bg: rgb(31, 32, 40);
  --header-bg: rgb(1, 22, 39);
  --box-bg: rgb(46, 48, 57);
  --font-color: white;
  --link: #36a3ff;
  --link-hov: #56c3ff;
}

.white-theme {
  --primary-bg: rgb(252, 252, 252);
  --box-bg: rgb(242, 242, 242);
  --content-bg: rgb(252, 252, 252);
  --header-bg: rgb(232, 232, 232);
  --font-color: black;
  --link: rgb(50, 115, 220);
  --link-hov: #56c3ff;
}

.theme-button,
.theme-switcher-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: larger;
  display: block;
  cursor: pointer;
  margin: 2em;
}

.white-theme-button {
  background-color: rgb(200, 200, 200);
}

.black-theme-button {
  background-color: black;
}

.purple-theme-button {
  background-color: rgb(24, 18, 43);
}

#menu-toggle,
.theme-switcher-button {
  display: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif';
  height: 100%;
  background-color: var(--primary-bg);
  /* background-image: var(--primary-grd); */
}

body {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
}

main {
  margin-top: 2em;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hov);
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
  text-decoration-skip-ink: none;
}

p {
  line-height: 30px;
  font-size: 16px;
}

.logo {
  width: 40px;
  height: 40px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--primary-bg);
  /* background-image: var(--header-grd); */
  padding-top: 1em;
}

.navbar-menu {
  max-width: var(--max-width);
  list-style: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.navbar-item {
  padding: 2em;
  height: 40px;
  text-decoration: none;
  text-align: center;
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bold;
}

.navbar-item:hover {
  color: var(--color);
  background-color: var(--box-bg);
  border-radius: 10px;
}

.footer {
  padding: 4em;
  text-align: center;
  background-color: var(--primary-bg);
  box-shadow: var(--card-shadow);
}

.box {
  background-color: var(--box-bg);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  color: var(--font-color);
  padding: 1.25rem;
  margin: 1em;
}

.card {
  background-color: var(--box-bg);
  /* background-image: var(--primary-grd); */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: var(--card-shadow);
  margin-bottom: 2em;
  max-width: 1000px;
  width: 1000px;
}

article.card {
  margin-left: calc(100px + 2em);
}

.card-header {
  padding: 3em;
  border-radius: 10px 10px 0 0;
  background-color: var(--header-bg);
  /* background-image: var(--primary-grd); */
}

.card-body {
  padding: 2em;
}

.card-item {
  padding: 1em;
  box-shadow: var(--card-item-shadow);
  background-color: var(--content-bg);
  /* background-image: var(--header-grd); */
}

.banner {
  width: 600px;
  height: 500px;
  display: flex;
  margin: 0 auto;
}

.msg-wrapper {
  width: 400px;
  position: sticky;
  transform: rotate(10deg);
  margin-top: 2.5em;
}

.msg {
  box-shadow: 0 4px 5px 0 var(--header-bg), 0 6px 10px 0 var(--font-color);
  border: 1px solid var(--header-bg);
  padding: 1em;
  background-color: var(--content-bg);
  text-align: center;
}

.profile-picture {
  position: sticky;
  top: 285px;
}

.profile-photo {
  position: relative;
  height: 48px;
  width: 48px;
  top: 4em;
  left: 0.5em;
}

.image {
  height: auto;
  width: 50%;
}

.comic {
  width: 100%;
}

.column {
  flex-direction: column;
}

.title {
  color: var(--font-color);
  font-weight: normal;
  font-size: large;
}

.subtitle {
  color: var(--font-color);
  font-weight: normal;
  font-size: medium;
}

.hide-in-mobile {
  display: block;
}

.icon {
  width: 48px;
  height: 48px;
}

.media-box {
  align-items: flex-start;
  display: flex;
  text-align: inherit;
  background-color: var(--primary-bg);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  color: var(--font-color);
  padding: 1.25rem;
  margin: 1em;
  flex-grow: 1;
  text-decoration: none;
}

a.media-box:hover {
  color: var(--font-color);
  text-decoration: none;
  box-shadow: var(--header-bg) 0 0 4px 2px, var(--font-color) 0 0 4px 2px;
}
.media-figure {
  margin-right: 1rem;
  display: contents;
}

.media-content {
  flex-basis: auto;
  text-align: inherit;
  padding-left: 1em;
}

@media only screen and (max-width: 760px),
  (min-width: 768px) and (max-width: 1024px) {
  main {
    flex-direction: column-reverse;
    margin-top: 0;
  }

  .hide-in-mobile {
    display: none !important;
  }

  .theme-box {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
  }

  .theme-switcher-button {
    display: block;
    margin: 1.5em;
    width: 40px;
    height: 40px;
  }

  .theme-button {
    margin: 0px;
  }

  .card {
    width: auto;
  }

  article.card {
    margin-left: 0px;
  }

  .card-body {
    padding: 1em;
  }

  .media-box {
    flex-direction: column;
    padding: 1em 0;
    margin: 1em 0;
  }

  .media-figure {
    margin: 0 auto;
  }

  .image {
    width: 100%;
  }
  .banner {
    width: 100%;
  }
  .msg-wrapper {
    margin-top: 3em;
  }

  .icon-wrapper {
    align-self: center;
  }

  .navbar {
    justify-content: space-between;
    padding-top: 0;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .navbar-menu > .navbar-item {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: var(--font-color);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: '';
    margin-top: -8px;
  }

  .menu-button::after {
    content: '';
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  .navbar-menu {
    position: absolute;
    top: 0;
    margin-top: 6em;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .menu-button-container {
    display: flex;
    padding: 3em;
  }

  #menu-toggle ~ .navbar-menu .navbar-item {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .navbar-menu .navbar-item {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .navbar-menu > .navbar-item {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: var(--font-color);
    background-color: var(--primary-bg);
    border: 1px solid var(--header-bg);
  }

  .navbar-item:hover {
    color: var(--color);
    background-color: var(--box-bg);
    border-radius: 0;
  }

  .navbar-brand .navbar-item {
    border-radius: 30px;
    padding: 2em;
    margin-top: 0.5em;
  }
}
