<!doctype html>
<html lang="en">
###header###

<body>
  ###navbar###
  <main>
    <article class="card">
      <header class="card-header">
        <h1>###title###</h1>
      </header>
      <div class="card-body grid">
        ###content###
      </div>
    </article>
    <div class="theme-box">
      <button class="white-theme-button theme-button" data-theme="white-theme">🤍</button>
      <button class="black-theme-button theme-button" data-theme="black-theme">🖤</button>
      <button class="purple-theme-button theme-button" data-theme="purple-theme">💜</button>
    </div>
  </main>
  ###footer###
</body>

</html>