<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img class="logo" src="/images/logos/exeami-light.png" id="logo" alt="exeami-logo">
    </a>
  </div>
  <button class="theme-switcher-button"></button>
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
  <div class="navbar-menu" id="navbar">
    ###navbar_items###
  </div>
</nav>