<!doctype html>
<html lang="en">
{{> header page=page}}

<body>
  {{> nav routes=page.routes}}
  <main>
    <article class="card">
      <header class="card-header">
        <h1>{{page.title}}</h1>
        <h2 class="subtitle">{{page.subtitle}}</h2>

        {{#if page.last_modified}}
        <p>
          <time class="subtitle dt-published" datetime="{{page.last_modified}}">Created on {{page.last_modified}}</time>
        </p>
        {{/if}}

        {{#if page.source_link}}
        <h3 class="subtitle">Source: <a href="{{page.source_link}}" target="_blank">{{page.source_link}}</a></h3>
        {{/if}}
        {{#if page.category}}
        <span class="p-category is-padding-left-1 title">
          {{page.category}}
        </span>
        {{/if}}
        {{#if page.tags}}
        {{> tags tags=page.tags}}
        {{/if}}
      </header>
      <div class="card-body">
        {{#if page.content}}
        {{> (lookup page 'content')}}
        {{/if}}

        {{#if page.content-item}}
        {{> (lookup page 'content-item') data=page.content-data}}
        {{/if}}
      </div>
      {{#if page.suggestions}}
      <div>
        <h1 style="text-align: center;">Recent Blogs</h1>
        {{> blog-item data=page.suggestions}}
      </div>
      {{/if}}
    </article>
    {{> theme-switcher}}
  </main>
  {{> footer}}
</body>

</html>