<!doctype html>
<html lang="en">
###header###

<body>
  ###navbar###
  <main>
    <article class="card">
      <header class="card-header">
        <h1>###title###</h1>
        <h2 class="subtitle">###subtitle###</h2>
        <h2 class="subtitle">Source Code: <a href="###source_link###" target="_blank">###source_link###</a></h3>
          ###tags###
      </header>
      <div class="card-body">
        ###content###
      </div>
    </article>
    ###theme-switcher###
  </main>
  ###footer###
</body>

</html>