:root {
  --primary-bg: rgb(252, 252, 252);
  --box-bg: rgb(242, 242, 242);
  --content-bg: rgb(252, 252, 252);
  --header-bg: rgb(232, 232, 232);
  --font-color: black;

  --link: #36a3ff;
  --link-hov: #56c3ff;
  --max-width: 1000px;
  --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
  --card-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --card-item-shadow: var(--header-bg) 0px 0px 4px 2px,
    var(--color) 0px 0px 2px 2px;
  --item-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

* {
  box-sizing: border-box;
}

.purple-theme {
  --primary-bg: rgb(68, 60, 104);
  --header-bg: rgb(24, 18, 43);
  --box-bg: rgb(99, 89, 133);
  --content-bg: rgb(68, 60, 104);
  --font-color: rgb(235, 235, 235);
}

.dark-theme {
  --primary-bg: rgb(31, 32, 40);
  --content-bg: rgb(31, 32, 40);
  --header-bg: rgb(1, 22, 39);
  --box-bg: rgb(46, 48, 57);
  --font-color: white;
}

.light-theme {
  --primary-bg: rgb(252, 252, 252);
  --box-bg: rgb(242, 242, 242);
  --content-bg: rgb(252, 252, 252);
  --header-bg: rgb(232, 232, 232);
  --font-color: black;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif';
  height: 100%;
  background-color: var(--primary-bg);
  /* background-image: var(--primary-grd); */
}

body {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
}

main {
  margin-top: 2em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.logo {
  width: 40px;
  height: 40px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--primary-bg);
  /* background-image: var(--header-grd); */
  padding-top: 1em;
}

.separator {
  flex-grow: 1;
}

.navbar-start {
  max-width: var(--max-width);
  list-style: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.navbar-item {
  padding: 2em;
  height: 40px;
  text-decoration: none;
  text-align: center;
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.navbar-start a {
  font-weight: bold;
}

.navbar-item:hover {
  color: var(--color);
  background-color: var(--box-bg);
  border-radius: 10px;
}

.footer {
  padding: 4em;
  text-align: center;
  background-color: var(--primary-bg);
  box-shadow: var(--card-shadow);
}

.card {
  background-color: var(--box-bg);
  /* background-image: var(--primary-grd); */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: var(--card-shadow);
  margin-bottom: 2em;
  max-width: 1000px;
}

.card-header {
  padding: 3em;
  border-radius: 10px 10px 0 0;
  background-color: var(--header-bg);
  /* background-image: var(--primary-grd); */
}

.grid {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.grid-image {
  flex-grow: 1;
}
img,
.image {
  height: 100%;
  width: 100%;
}

.card-body {
  padding: 2em;
}

.grid-item {
  padding: 1em;
  width: 32%;
  color: var(--font-color);
  text-decoration: none;
  box-shadow: var(--card-item-shadow);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.grid-item:hover {
  color: var(--font-color);
  text-decoration: none;
  box-shadow: var(--header-bg) 0 0 4px 2px, var(--font-color) 0 0 4px 2px;
}

.card-item {
  padding: 1em;
  box-shadow: var(--card-item-shadow);
  background-color: var(--content-bg);
  /* background-image: var(--header-grd); */
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hov);
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
  text-decoration-skip-ink: none;
}

p {
  line-height: 30px;
  font-size: 16px;
}

.title {
  color: var(--font-color);
  font-weight: normal;
  font-size: large;
}
.subtitle {
  color: var(--font-color);
  font-weight: normal;
  font-size: medium;
}
